doctype html5
html
	head
		title Login page
	body
		.error #{message}
		h1 Login page
		form(method='POST' action='/login')
			label Email
			input(type='text' name='email')
			label Password
			input(type='password' name='password')
			input(type='submit' value='Login')
